In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

##### Q.1) A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [2]:
cutlet = pd.read_csv("Cutlets.csv")

In [3]:
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
stats.f_oneway(cutlet.iloc[:,0],cutlet.iloc[:,1])

F_onewayResult(statistic=0.5225394038913932, pvalue=0.47223947245995734)

Inference :

Here p value is greater than 5% i.e. alpha = 0.05
Hence we don't reject the Null Hypothesis and reject the Alternative Hypothesis.

Therefore, we can say there is no significant difference in the diameter of the cutlet between two units.

##### Q.2)    A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
##### Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [5]:
data = pd.read_csv("LabTAT.csv")

In [6]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [7]:
stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

Inference :

Here p value is less than 5% i.e. alpha = 0.05 Hence we don't reject the Alternatve Hypothesis and reject the Null Hypothesis.

Therefore, we can say there is difference in average TAT among the different laboratories.

##### Q.3) Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

#####               East West  North South
##### Male         50   142  131      70
##### Female  550   351  480     350
##### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
##### Ho ->  All proportions are equal

##### Ha ->  Not all proportions are equal

In [8]:
data1 = pd.read_csv("BuyerRatio.csv")

In [9]:
data1

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [10]:
dataa = data1.iloc[:,1:]

In [11]:
chi_square_tscore,pval,df,exp_table = stats.chi2_contingency(dataa)
chi_square_tscore,pval,df,exp_table

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [12]:
stats.f_oneway(data1.iloc[:,1],data1.iloc[:,2],data1.iloc[:,3],data1.iloc[:,4])

F_onewayResult(statistic=0.3068565327605033, pvalue=0.8204060154887464)

Inference :

Here p value is greater than 5% i.e. alpha = 0.05
Hence we don't reject the Null Hypothesis and reject the Alternative Hypothesis.

Therefore, male-female buyer rations are similar across regions.

##### Q.4) TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [13]:
data2 = pd.read_csv("Customer+OrderForm.csv")
data2

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
labelenc = LabelEncoder()

In [16]:
data2.iloc[:,0] = labelenc.fit_transform(data2.iloc[:,0])
data2.iloc[:,1] = labelenc.fit_transform(data2.iloc[:,1])
data2.iloc[:,2] = labelenc.fit_transform(data2.iloc[:,2])
data2.iloc[:,3] = labelenc.fit_transform(data2.iloc[:,3])

In [17]:
data2.head(20)

    Phillippines  Indonesia  Malta  India
0              1          1      0      1
1              1          1      1      0
2              1          0      0      1
3              1          1      1      1
4              1          1      0      1
5              1          1      1      1
6              1          0      1      1
7              1          1      1      1
8              1          1      1      1
9              1          1      1      1
10             0          1      1      1
11             1          1      1      1
12             1          1      1      0
13             1          1      1      1
14             1          1      1      1
15             1          1      0      1
16             1          1      1      1
17             1          1      1      1
18             1          1      1      1
19             0          1      1      0

In [18]:
stats.f_oneway(data2.iloc[:,0],data2.iloc[:,1],data2.iloc[:,2],data2.iloc[:,3])

F_onewayResult(statistic=1.286168556089167, pvalue=0.2776780955705948)

Inference :

Here p value is less than 5% i.e. alpha = 0.05 Hence we don't reject the Null Hypothesis and reject the Alternative Hypothesis.

Therefore, the defective % of order forms varies by centre.