In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [2]:
data=pd.read_csv("C:/Assinments prob & data sets/BuyerRatio (1).csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
objList = data.select_dtypes(include = "object").columns
print (objList)

Index(['Observed Values'], dtype='object')

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for feat in objList:
    data[feat]=le.fit_transform(data[feat].astype(str))
    
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      int32
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int32(1), int64(4)
memory usage: 200.0 bytes
None

In [5]:
import scipy.stats as stats
stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3],data.iloc[:,4])

F_onewayResult(statistic=0.5960896991149738, pvalue=0.6818002355762813)

In [6]:
data1 = data.iloc[:,1:]

In [7]:
data1.head()

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [18]:
chi_square_tscore,pval,df,exp_table = stats.chi2_contingency(data1)
print('Chi-square score is {}.\np value is {}.\ndf is {}.\nExpected table is \n{}'.format(chi_square_tscore,pval,df,exp_table))

Chi-square score is 1.595945538661058.
p value is 0.6603094907091882.
df is 3.
Expected table is
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]